{% extends "base.html" %}


{% block title %}generate{% endblock %}


{% block content %}
<div align="center"> <h1> Would you like to generate 500 characters </h1>
</div>
<div align="center"> <a href="/generate500"> <buttion type="button" class="btn btn-lg btn-primary">Generate500
 </a>
</div>
<br />

<br />

<div align="center"> <h1> Would you like to generate 1000 characters </h1>
</div>
<div align="center"> <a href="/generate1000"> <buttion type="button" class="btn btn-lg btn-primary">Generate1000
 </a>
</div>


{% endblock %}
