{% extends "base.html" %}


{% block title %}Simpleencoded{% endblock %}


{% block content %}<form method='POST'>   
    <h1 align="center"> Would you like to Encode? </h1>
    </br>
    <p align="left"> Enter the name and full path of the image </p>
    <textarea name="text1" id="text1" class="form-control"></textarea>
    <br />
    <p align="left"> Enter the name of the Steganographic image you wish to save as </p>
    <textarea name="text2" id="text2" class="form-control"></textarea>
    <br />
    <p align="left"> Enter the Data you wish to hide </p>
    <textarea name="text3" id="text3" class="form-control"></textarea>
    <br />
    <div align="center">
    <button type="submit" class="btn btn-lg btn-primary">Create</button>
    </div>
</form>
    <br />
    <h1 align="center"> Would you like to Decode? </h1>
    <br />
    <div align="center">
    <a href="/Simpledecode"><button type="submit" class="btn btn-lg btn-primary">Decode</button>
    </a>
    </div>
{% endblock %}

