{% extends "base.html" %}


{% block title %}Steganography{% endblock %}


{% block content %}<div align="center"><h1> Would you like to Perform Steganography using LSB? </h1> </div>
<div align="center"> <a href="/LSB"><buttion type="button" class="btn btn-lg btn-primary">LSB </a></div>
<br />
<br />
<div align="center"><h1> Would you like to Perform Steganography using Simple technique? </h1> </div>
<div align="center"> <a href="/Simple"><buttion type="button" class="btn btn-lg btn-primary">Simple </a></div>
<br />


{% endblock %}
